* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.title {
  background-color: green;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
header {
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom:1px solid rgb(74, 55, 55);
}
@media screen and (max-width: 508px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    color: white;
    flex-direction: column;
  }
}
.logo{
    font-style: italic;
}
nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  color: white;
}
.imgs {
  background-color: #ffb7b7;
  padding: 10px;
  border-radius: 360%;
  height: 70px;
  width: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

li {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-weight: 10px;
}
li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
footer {
  background-color: rgb(52, 36, 36);
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  background-color: back;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80vh;
  gap: 10px;

}
.cards {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  height: auto;
  width: auto;
  border-radius: 10px;
  padding-left: 30px;
  
}
.contents{
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 30px;
  align-items:center;
  width: 70%;
  text-align: justify;
  line-height: 30px;
  
  
}
img{
    width: 390px;
    /* border-radius:100%; */
    /* padding:30px */
    border: none;
    transform: scaleX(-1);
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-justify:newspaper;

}
h3{
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    border-bottom: 1px solid white;
}
.lang-cont{
    background-color: transparent;
    display: inline-flex;
    /* gap: 10px; */
    border-radius:5px;
    flex-wrap: wrap;
    justify-content: start;
}
.lang{
    padding: 10px;
    background-color: blue;
    margin: 5px;
    width: 130px;
    border-radius:10px;
    text-align:center
}
.lang:hover{
    background-color: orange;
    color:black;
    cursor: pointer;
}