* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
    background-color: green;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: block;
}
nav ul{
    display: flex;
    padding: 10px;
    gap: 20px;
    list-style: none;
    justify-content: center;
    background-color: blue;
    color:white;
}